
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  font-family: "Poppins", sans-serif;
  background-color: #f3f3f3;
}

.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section{
    min-height: 80vh;
}

.w-150{
    width: 150px;
}

#filler{
  height: 100px;
}

@media (max-width: 768px) {
  #filler{
    height: 20px;
  }
}

.h-20{
    height: 100px;
}
.background-image {
    background-image: url('/images/background.avif');
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 90vh; /* Adjust height as needed */
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
  }
  
.c1{
  margin-top: 40px ;
  left: 20px;
}
  .overlay-text {
    position: absolute;
    color: white;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.7);
  }
  
  h1, p {
    color: inherit; /* Ensures text color is inherited from parent */
  }
  
.btn-brown{
    transition: all 0.4s;
    background:linear-gradient(45deg, #713002, #000000);
    color: white;
    border:none;
    outline:none;
    padding: 7px 15px;
    border-radius: 8px;
    transition: all 1s ease-in-out;
    }

.btn-brown:hover{
    background:linear-gradient(45deg, #8a3b02, #461e01);
    color: white;
}

.gradient-fill{
  /* fill with gradient */
  background:linear-gradient(75deg, #a74500, #210d00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient{
  background:linear-gradient(75deg, #773200, #190a00 ,#773200);
  min-height: 25vh;
}

.back-grey{
    background:linear-gradient(0deg, #f5f5f5, #e1e1e1);;
    border-radius: 20px;
}


.services{
  background-color: white;
  border-radius: 20px;
  padding: 10px 20px;
  display: inline-block;
  transform:  translateY(-15px); 
}

.service-card{
  margin:10px;
  padding:20px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  background-color: white;
}

.light{
  color: #aaaaaa;
}

.grey-gradient{
  background:linear-gradient(0deg, #f5f5f5, #e1e1e1);
  min-height: 40vh;
}

.heading{
  font-size: 4.7rem;
  font-weight: 600;
}

.svg{
  fill : #713002;
  display: inline-block;
  width: 20px;
  height: 20px;
}

#signup-image{
  background-image: url('https://images.unsplash.com/photo-1594771804886-a933bb2d609b?q=80&w=1782&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  border-radius: 20px 0px 0px 20px;
  position: relative;
  width: 50%;
  height: 90vh; /* Adjust height as needed */
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
}
.width-100{
  width: 100%;
}

@media (max-width: 768px) {
  #signup-image{
    display: none;
  }
  
}


.signup-cont{
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 20px;
}

.labelcontainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.labelcontainer label{
  width: 30%;
  margin: 0px;
}

.labelcontainer input{
  margin-left: 5px;
}

.box-cont{
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  min-height: 150px;
  box-shadow: 0 0 10px rgba(163, 163, 163, 0.1);
  width: 100%;
  /* border: 1px solid #d8d8d893; */
  transition: all 0.4s;
}

.box-cont:hover{
  /* box-shadow: 0 0 10px rgba(0,0,0,0.12); */
}

.plusBtn{
  background-color: transparent;
  color: grey;
  border:2px solid grey;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  transition: all 1s ease-in-out;
  margin-left: 10px;
}


.profile-image{
  height: 100px;
  width: 100px;
  border-radius: 100%;
  object-fit: cover;
}


#profile-image{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
}

.wordbreak{
  word-wrap: break-word;
}

.max-width{
  max-width: 100%;
}


.parent-container {
  height: 100%;
  position: relative;
}

.parent-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#configuration{
  fill: white;
}

.satellite-image{
  height: 70vh;
  width: 100%;
  object-fit: cover;
}

.imgcontainer{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.crop-image{
  width: 100%;
  height: 100%;
}

.alert{
  position: absolute;
  z-index: 1100;
  width: 250px;
  left: 4%;
  opacity: 0;
}

.alert.show{
  opacity: 1;
  z-index:1100;
  animation: hide 3s ease-in-out forwards;
}


@keyframes hide{
  0%{
    opacity: 0;
    z-index: -1;
    display: none;
  }
  20%{
    opacity: 1;
    z-index:1100;
    display: block;
  }
  80%{
    opacity: 1;
    z-index:1100;
    display: block;
  }
  100%{
    opacity: 0;
    z-index: -1;
    display: none;
  }
}

.selected-crop-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tab-button{
  background-color: #fff;
  border: 1px solid #bcbcbc93;
  border-bottom: none;
  outline: none;
  color: #713002;
  padding: 10px 20px;
  border-radius: 15px 15px 0px 0px;
  z-index: 1000;
  transition: all 0.4s;
  transform: translateY(1px);
  margin-left: 5px;
}

@media  (max-width: 768px) {
  .tab-button{
    width: 50%;
  }
  
}

.deselect{
  border:none;
  transform: translateY(1px);
  background-color: transparent;
  border: none;
  outline: none;
  color: #713002;
  padding: 10px 20px;
  transform: translateY(1px);
  margin-left: 5px;
}

.hidden { display: none; }

.selected{
  padding: 10px;
  background-color: #6e6e6e !important;
  color:white;
  border-radius: 10px;
  margin: 5px;
  min-height: 150px;
}



.selected img{
  height: 110px;
  margin-right: 5px;
  border-radius: 5px;
}

.selected .light{
  color: white;
}

.back-button{
  margin-left: 20px;
}

.back-button svg{
  fill: #5e5e5e;
}


.mycard{
  height: 50vh;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  overflow: hidden;
}

.mycardInner{
  border-radius: 20px 20px 0px 0px;
  height: 50vh;
  background-color: white;
  transform: translateY(-20px);
}


.line{
  width: 30px;
  height: 2px;
  border-radius: 2px;
  background-color: #b7b7b7;
}

.mycard img{
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.specHighlight{
  background-color: #ebebeb8f;
  border-radius: 5px;
  width:100%;
}


.mycard2 img{
  width: 100%;
  height: 40%;
  object-fit: cover;
}

.mycard-selected .mycardInner{
  background-color: #5e5e5e;
  box-shadow: none;
  color: white;
}

.grey-div{
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 2px 10px;
  overflow-wrap: break-word;
  word-break: break-all;
  max-width: 100%;
}


.worker-cont{
  background-color: rgba(232, 232, 232, 0.616);
  border-radius: 15px;
  width: 100%;
  min-height: 20vh;
  transition: all 0.4s;
}

.cropDetailImg{
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 20px;
}

/* increase image hwight or width to fit container */
.cropDetailImg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.greenCircle{
  background-color: #00a000;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.redCircle{
  background-color: #757575;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.specialSubmitButton{
  outline:none;
  border:none;
}

.specialSubmitButton:disabled svg{
  fill: grey;
}

.greenRow{
  background-color: #00a000 !important;
  color:white;
}

.map-cont{
  border-radius: 20px;
  padding: 10px;
  background-color: #ffffffa3;
  height: 80vh;
}
#map{
  border: 2px solid #bcbcbc93;
}
#map{
  height: 90%;
}

:root{
  --brown : #5c2d16;

}

.pr1{
  /* background-color: #003e3e; */
  background-color: #48bf53;
}

.pr2{
  /* background-color: #007c7c; */
  background-color: #004d25;
}

.pr3{
  /* background-color: #00b1b1; */
  background-color: #11823b;
}

.pr4{
  /* background-color: #02dfdf; */
  background-color: #48bf53;
}

.btn-orange{
  background-color:transparent;
  /* color: #ff9900; */
  color: var(--brown);
  border-radius: 30px;
  border: 2px solid var(--brown);
  transition: all 0.5s;
  box-sizing: border-box;
  min-width: 50px;
  /* border to be inside */
  padding: 3px;
}

.btn-orange svg{
  fill: var(--brown);
  transition: all 0.5s;
}
.or-width{
  width:140px;
}
.btn-orange:hover{
  background-color: var(--brown);
  color: white;
}
.btn-orange:hover svg{
  fill: white;
}
.btn-orange:active{
  background-color: var(--brown);
  color: white;
}

.btn-orange2{
  background-color: var(--brown);
  min-width: 50px;
  color: white;
  border-radius: 30px;
  transition: all 0.5s;
  border:none;
}
.btn-orange2 svg{
  fill: white;
  transition: all 0.5s;
}

.btn-orange2:hover{
  background-color: var(--brown);
  color: white;
}

.smallCard{
  border-radius: 5px;
  height: 50px;
  width: 150px;
  color:white;
  background:linear-gradient(-60deg, #004d25 0%, #11823b 100%);
}

.bigCard{
  border-radius: 15px;
  height: 40vh;
  transition: all 0.5s;
  cursor: pointer;
}

.bigCard:hover{
  transform: scale(1.05) rotate(2deg);
}

.svgDiv{
  height: 65%;
}

.svgDiv img{
  height: 60%;
  padding: 10px;
  align-items: end;
  
}


.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.tooltip-text {
  visibility: hidden;
  min-width: 120px;
  max-width: 200px;
  min-height: 45px;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: #ffffff;
  color: #575757;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 15px;
  padding:  15px;
  position: fixed;
  z-index: 100;
  left: 55%;
  font-size: small;
  top: 15%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

nav li:hover{
  cursor: pointer;
}

nav .dropdown-item:active{
  background-color: rgb(116, 116, 116);
}

.fade{
  transition: opacity 0.5s;
  opacity: 0;
  z-index: -100;
}

.show{
  opacity: 1;
  z-index: 1000;
  transition: opacity 0.5s;
}

.alertDiv{
  position: fixed;
  z-index: 10000;
  top: 20px;
  right: 10%;
  min-height: 10vh;
  padding: 20px;
  min-width: 350px;
  background-color: #0a7a26;
  color: white;
  border-radius: 10px;
}

.success{
  background-color: #0a7a26;
}
.danger{
  background-color: #a70000;
}

.required{
  color: red;
}

.anal-img{
  height: 100px;
  border-radius: 7px;
  margin-right: 20px;
}

.popular-cropz{
  /* padding: 5px 10px; */
  background-color: #ffffff;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
}

.borders{
  border: 5px solid white;
}

@media print {
  /* Hide unwanted elements */
  .navbar, .footer, .sidebar , #navbar {
      display: none !important;
  }

  body{
    width:100%;
    height: 100%;
  }
}


.csv-export{
  width: fit-content;
  padding-left: 20px;
}

#svg1{
  width: 18px;
  height: 18px;
  margin: 0 10px;
}

.recommender{
  background:linear-gradient(45deg, #60005b,  #31006c, #004480ed);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(168, 168, 168, 0.1);
  padding: 10px;
  margin: 10px;
  padding:20px;
  min-height: 400px;
  position: relative;
  overflow: hidden;
}

.item-1-rec,.item-2-rec,.item-3-rec{
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: rgba(186, 155, 224, 0.186);
}
.item-1-rec{
  top: -100px;
  left: -100px;
}

.item-2-rec{
  top: 20%;
  left: 85%;
  
}

.item-3-rec{
  left:20%;
  top: 85%;
  width: 150px;
  height: 150px;
}


.inner-recommender{
  border-radius: 10px;
  padding: 20px;
  height: 380px;
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.189);
  box-shadow: 0 0 10px rgba(168, 168, 168, 0.1);
  backdrop-filter: blur(15px);
}

.recommender-1{
  max-height: 300px;
  height: 300px;
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0.151);
  border-radius: 10px;

}

.kleio{
  height: 500px;
  width: auto;
  transform: translateX(-70px);
}

.recommender-1::-webkit-scrollbar {
 display: none;
}
.fun-fact{
  padding-left: 20px;
}
.time-value{
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 50px;

}
.yellow-fun{
  height: 200px;
  background-color: #f5f500;
  border-radius: 10px;
  overflow-y: scroll;

}

.yellow-fun::-webkit-scrollbar {
  display: none;
}
.item-1-rec{
  animation: move 10s linear infinite alternate-reverse;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(240px);
  }
}

.item-2-rec{
  animation: move2 10s linear infinite alternate-reverse;
}

@keyframes move2 {
  0% {
    transform: translate(0 , 0);
  }
  100% {
    transform: translate(-130px, 240px);
  }
}

.item-3-rec{
  animation: move3 20s linear infinite alternate-reverse;
}

@keyframes move3 {
  0% {
    transform: translate(0 , 0);
  }
  50% {
    transform: translate(200px, -140px);
  }
  100% {
    transform: translate(200px, -280px);
  }
}


.cost-saver{
  background:linear-gradient(45deg, #4e0060,  #00676c, #006480ed);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(168, 168, 168, 0.1);
  padding: 10px;
  margin: 10px;
  padding:20px;
  min-height: 250px;
}

.cost-save-inner{
  border-radius: 10px;
  padding: 20px;
  min-height: 230px;
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.189);
  box-shadow: 0 0 10px rgba(168, 168, 168, 0.1);
  backdrop-filter: blur(15px);
}

.cost-saver-img{
  width: 200px;
}

/* in your CSS file (e.g. app.css or inline <style>) */
.cost-saver-canvas {
  height: 600px !important; /* or whatever height you want */
  width: 100%; /* optional */
}

#mic-btn, #chatbot-send-btn{
  z-index:12313;
}

.chatbot-speak-btn {
  background-color: #693600;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 5px;
}

.chatbot-speak-btn:hover {
  background-color: #4f2900;
}

body > .skiptranslate {
  display: none !important;
}

/* Prevent top padding from being added */
body {
  top: 0px !important;
}
